.chatbox_reciver {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

.chatbox_sender {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}

.avatar {
  object-fit: cover;
  width: 2em;
  height: 2em;
}

.msg-container {
  display: grid;
}

.chatbox_reciver span {
  font-size: 12.5px;
  margin-left: 15px;
  color: #6b7280;
  font-style: italic;
  align-self: end;
}

.chatbox_reciver .msg {
  background-color: #374151;
  padding: 8px 16px;
  color: #ffffff;
  margin: 1px 3px 5px;
  border-radius: 1.5rem;
  max-width: 100%;
  font-size: 14.5px;
  align-self: start;
}

.chatbox_sender span {
  font-size: 12.5px;
  margin-left: 15px;
  color: #6b7280;
  font-style: italic;
  align-self: end;
}

.chatbox_sender .msg {
  background-color: #d97706;
  padding: 8px 16px;
  color: #ffffff;
  margin: 1px 3px 5px;
  border-radius: 1.5rem;
  max-width: 100%;
  font-size: 14.5px;
  align-self: start;
}

.chatbox_content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.chatbox_content textarea {
  width: 60%;
  height: 80px;
  border-radius: 10;
  border-width: 0em;
  padding: 1em;
  font-size: 1.2em;
  resize: none;
}

.chatbox_content button {
  width: 3.9em;
  height: 1.5em;
  font-weight: bold;
  border-radius: 8%;
  font-size: 1.7em;
  background-color: #34b7f1;
  border-width: 0em;
  justify-content: center;
  color: #ffffff;
}

.chatbox_content button:hover {
  background-color: #109fdc;
}