 /* .newtrip {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    to right,
   #efe0e0 0%,
    #f0e5e5 50%,
      #FCEFCF 50%,
     #FCEFCF 100%
    );
  } */

  /* gradient option settings */

  /* #e8cfcf 0%,
  #fdf3f3 50%,
  #fefaef 50%,
   #eee3c6 100% */